<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:url" content="https://www.instagram.com/manchesterunited/?hl=ru"/>
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Manchester United Online Store| Official ManUtd"/>
        <meta property="og:description" content="The best  Store in the world - Manchester United" />
        <link rel="icon" type="image/png" href="./icon/manchester-united.png">
        <title th:text="${title}"></title>
        <link rel="stylesheet" href="/basket.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,900;1,100;1,300&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="header_text">
                    <h1>old trafford</h1>
                </div>
                <div class="header_basket">
                    <a href="/Show_basket"><img src="./icon/basket.png" alt="basket"></a>
                </div>
            </div>
            <div class="subheader">
                <div class="subheader_logo">
                    <img src="./icon/manchester-united.png" alt="Manchester United">
                </div>
            	 <div class="subheader_search">
                   <form action="/search" class="subheader_search" method="get">
						<div class="subheader_search_input">
							
								<input type="text" placeholder="Search" class="search" name="searchStr">
							
						</div>
						<div class="subheader_search_but">
							
								<input type="image" src="./icon/search.png" class="button">
							
						</div>
					</form>
                </div>
            </div>
    
          <div class="nav">
                <ul class="topmenu"> 
                    <li><a class="down">kits</a>
                        <ul class="submenu">
                            <li><a href="/away">Away</a></li>
                            <li><a href="/keeper">Goalkeeper</a></li>
                            <li><a href="/home">Home</a></li>
                            <li><a href="/third">Third</a></li>
                        </ul>
                    </li>
                    <li><a class="down">shop by player</a>
                        <ul class="submenu">
                            <div class="wrap">    
                              <li><a href="/shop_Wan-Bissaka">Aaron Wan-Bissaka</a></li>
							<li><a href="/shop_Fernandes">Bruno Fernandes</a></li>
							<li><a href="/shop_Ronaldo">Cristiano Ronaldo</a></li>
							<li><a href="/shop_De Gea">David De Gea</a></li>
							<li><a href="/shop_Cavani">Edinson Cavani</a></li>
							<li><a href="/shop_Bailly">Eric Bailly</a></li>
							<li><a href="/shop_Varane">Rafael Varane</a></li>
							<li><a href="/shop_Sancho">Jadon Sancho</a></li>
							<li><a href="/shop_Lingard">Jesse Lingard</a></li>
							<li><a href="/shop_Van_De_Beek">Donnie van de Beck</a></li>
							<li><a href="/shop_Greenwood">Mason Greenwood</a></li>
							<li><a href="/shop_Matic">Nemanja Matic</a></li>
							<li><a href="/shop_Pogba">Paul Pogba</a></li>
							<li><a href="/shop_McTominay">Scott McTominay</a></li>
							<li><a href="/shop_Fred">Fred</a></li>
							<li><a href="/shop_Rashford">Marcus Rashford</a></li>
							<li><a href="/shop_Shaw">Luke Shaw</a></li>
							<li><a href="/shop_Maguire">Harry Maguire</a></li>
                            </div>
                        </ul>
                    </li>
                    <li><a class="down">men</a>
                        <ul class="submenu">
                            <li><a href="/man_football_kits">Football Kits</a></li>
							<li><a href="/man_headwear">Headwear</a></li>
							<li><a href="/man_jackets">Jackets</a></li>
                        </ul>
                    </li>
                    <li><a class="down">women</a>
                        <ul class="submenu">
							<li><a href="/women_tops">Tops</a></li>
							<li><a href="/women_headwear">Headwear</a></li>
							<li><a href="/women_scarves">Scarves</a></li>
						</ul></li>
					<li><a class="down">kids</a>
						<ul class="submenu">
							<li><a href="/kids_football_kits">Football Kits</a></li>
							<li><a href="/kids_jackets">Jackets</a></li>
							<li><a href="/kids_tracksuits">Tracksuits</a></li>
						</ul></li>
            </ul>
            </div>
        
            <div class="direct">
                <a href="/">Manchester United</a><i>/</i><p class="direct_name" th:text="${direct_name}"></p>
            </div>
        
    <div class="container">
            <div class="struct">
                    <div class="wrap_">
                       <div class="wrap_block">
                           <div class="card_img">
                                <img th:src="${img_source_src_arr}" th:alt="${img_source_alt_arr}">
                           </div>
                           <div class="card_wrap">
                               <div class="card_descrp">
                                    <p class="card_descrp_txt" th:text="${img_source_alt_arr}"></p>
                               </div>
                               <div class="card_price">
                                    <p>Your Price: <sup>£</sup><span th:text="${img_source_pr_arr}"></span><sup th:text="${img_source_pr_coin_arr}"></sup></p>
                               </div>
                                       <form action="/korz">
                               <div class="size_wrap_">
                                <p class="size_txt">Size</p>
                                <p class="size_txt">Size Chart</p>
                               </div>
                               <div class="size_wrap">
                               	 
                                    <div class="form_radio_btn">
										<input id="radio-1" type="radio" name="radio" value="S" checked>
										<label for="radio-1">S</label>
									</div>
									 
									<div class="form_radio_btn">
										<input id="radio-2" type="radio" name="radio" value="M">
										<label for="radio-2">M</label>
									</div>
									 
									<div class="form_radio_btn">
										<input id="radio-3" type="radio" name="radio" value="L">
										<label for="radio-3">L</label>
									</div>
									 
									<div class="form_radio_btn">
										<input id="radio-4" type="radio" name="radio" value="XL">
										<label for="radio-4">XL</label>
									</div>
								 
                               </div>
                               <div class="size_wrap_two">
                                        <div class="wrap_lb">
                                            <label for="quantity" class="quan-txt">Quantity</label>
                                            <input type="number" id="quantity" name="quantity" min="1" max="10" value="1" class="text-field-input">
                                         </div>
                                        <input type="submit" value="Add to cart" class="button_primary" th:onclick="newURL_T()">
                                   
                               </div>
                                </form>
                           </div>
                       </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
        <div class="container">
            <div class="footer">
				<div class="wrapper_footer">
					<div class="footer_card">
						<h3>customer service</h3>
						<p>
							<a href="/help" target="_blank">Help</a>
						</p>
						<p>
							<a href="/track" target="_blank">Track Order</a>
						</p>
						<p>
							<a href="/size_chart" target="_blank">Size Chart</a>
						</p>
					</div>
					<div class="footer_card">
						<h3>Information</h3>
						<p>
							<a href="/help" target="_blank">About us</a>
						</p>
						<p>
							<a href="/affiliate" target="_blank">Affiliate Program</a>
						</p>
					</div>
					<div class="footer_card">
						<h3>Follow us</h3>
						<div class="icons">
							<div class="icon">
								<a href="https://www.facebook.com/manchesterunited" target="_blank"><img src="./icon/facebook.png" alt="facebook"></a>
							</div>
							<div class="icon">
								<a href="https://twitter.com/ManUtd" target="_blank"><img src="./icon/twitter.png" alt="twitter"></a>
							</div>
							<div class="icon">
								<a href="https://www.instagram.com/manchesterunited" target="_blank"><img src="./icon/instagram.png" alt="youtube"></a>
							</div>
							<div class="icon">
								<a href="https://www.youtube.com/manutd" target="_blank"><img
									src="./icon/premium-icon-youtube-3669688.png" alt="youtube"></a>
							</div>
						</div>
					</div>
				</div>
				<div class="copy_right">
					<img src="./icon/copyright.png" alt="CopyRight" id="theme"
						onclick="myFunc()">
					<h3>Hasan Abdurahmonov 2021</h3>
				</div>
			</div>
        </div>

            <script>
        	
            
            
            function myFunc(){
                if(document.body.style.backgroundColor == "white"){
                document.body.style.backgroundImage="url('./Photos/siniy_pyatna_fon_odnotonnyy_69084_1920x1080.jpg')";
                document.body.style.backgroundRepeat="no-repeat";
                document.body.style.backgroundSize="cover";
                document.body.style.backgroundColor ="gray";
                }else{
                document.body.style.backgroundColor="none";
                document.body.style.backgroundColor="white";
                document.body.style.backgroundImage="none";
                }
            
            }

            function ReadMore(){
                var more=document.getElementsByClassName('more');
                var view=document.getElementById('view');
                for(var i =0; i<more.length;i++){
                    more[i].style.display="block";
                }
                view.style.display="none";
            }
            
			function newURL_T(){
				
	            	let stateObj = { foo: "players" }
	            	history.pushState(stateObj, "player", "[[${img_source_alt_arr}]]");	
				
            }
			
		
            </script>
    </body>
</html>