<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="./icon/manchester-united.png">
<title th:text="${title}"></title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,900;1,100;1,300&display=swap"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/track.css">
</head>
<body>
	<div class="container">
		<div class="header">
			<div class="header_text">
				<h1>old trafford</h1>
			</div>
			<div class="header_basket">
				  <a href="/Show_basket"><img src="./icon/basket.png" alt="basket"></a>
			</div>
		</div>
		<div class="subheader">
			<div class="subheader_logo">
				<img src="./icon/manchester-united.png" alt="Manchester United">
			</div>
			<div class="subheader_search">
				<form action="/search" class="subheader_search" method="get">
					<div class="subheader_search_input">
						
							<input type="text" placeholder="Search" class="search" name="searchStr">
						
					</div>
					<div class="subheader_search_but">
						
							<input type="image" src="./icon/search.png" class="button">
						
					</div>
				</form>
			</div>
		</div>

		<div class="nav">
			<ul class="topmenu">
				<li><a class="down">kits</a>
					<ul class="submenu">
						<li><a href="/away">Away</a></li>
						<li><a href="/keeper">Goalkeeper</a></li>
						<li><a href="/home">Home</a></li>
						<li><a href="/third">Third</a></li>
					</ul></li>
				<li><a class="down">shop by player</a>
					<ul class="submenu">
						<div class="wrap">
							<li><a href="/shop_Wan-Bissaka">Aaron Wan-Bissaka</a></li>
							<li><a href="/shop_Fernandes">Bruno Fernandes</a></li>
							<li><a href="/shop_Ronaldo">Cristiano Ronaldo</a></li>
							<li><a href="/shop_De Gea">David De Gea</a></li>
							<li><a href="/shop_Cavani">Edinson Cavani</a></li>
							<li><a href="/shop_Bailly">Eric Bailly</a></li>
							<li><a href="/shop_Varane">Rafael Varane</a></li>
							<li><a href="/shop_Sancho">Jadon Sancho</a></li>
							<li><a href="/shop_Lingard">Jesse Lingard</a></li>
							<li><a href="/shop_Van_De_Beek">Donnie van de Beek</a></li>
							<li><a href="/shop_Greenwood">Mason Greenwood</a></li>
							<li><a href="/shop_Matic">Nemanja Matic</a></li>
							<li><a href="/shop_Pogba">Paul Pogba</a></li>
							<li><a href="/shop_McTominay">Scott McTominay</a></li>
							<li><a href="/shop_Fred">Fred</a></li>
							<li><a href="/shop_Rashford">Marcus Rashford</a></li>
							<li><a href="/shop_Shaw">Luke Shaw</a></li>
							<li><a href="/shop_Maguire">Harry Maguire</a></li>
						</div>
					</ul></li>
				<li><a class="down">men</a>
					<ul class="submenu">
						<li><a href="/man_football_kits">Football Kits</a></li>
						<li><a href="/man_headwear">Headwear</a></li>
						<li><a href="/man_jackets">Jackets</a></li>
					</ul></li>
				<li><a class="down">women</a>
					<ul class="submenu">
						<li><a href="/women_tops">Tops</a></li>
						<li><a href="/women_headwear">Headwear</a></li>
						<li><a href="/women_scarves">Scarves</a></li>
					</ul></li>
				<li><a class="down">kids</a>
					<ul class="submenu">
						<li><a href="/kids_football_kits">Football Kits</a></li>
						<li><a href="/kids_jackets">Jackets</a></li>
						<li><a href="/kids_tracksuits">Tracksuits</a></li>
					</ul></li>
			</ul>
		</div>
	</div>
	
	<div class="container">
        <h2 class="about">Tracking Your Order</h2>
        <p class="sub_about">We have recently made changes to our site to ensure you have the best shopping experience possible! With these changes, you will not be able to access any account or order information for orders placed prior to July 14, 2020.
        </p>
        <p class="sub_about">We apologize for any inconvenience this may cause. If you have questions regarding an order placed prior to this date, please reach out to our Customer Service Team and they will be able to assist you.</p>
        <div class="div_txt">
            <p>
                For any order placed after July 14, 2020, you can at any time log into your account on our site and review your current order status as well as the tracking information if your order is eligible for tracking.
            </p>
            <p>
                Once your order ships from our facility you will receive a confirmation email. Depending on the method and destination of your order will determine if your shipping confirmation contains tracking.
            </p>
            <p>
                <b>Please Note:</b> If your order includes a personalised item, this may add an additional 3 working days to your processing timeframe. Regardless of which delivery method you selected at the time of checkout, we will still need an additional 3 days to process your personalisation.
            </p>
            <h3>Customs & Duty:</h3>
            <p>For orders shipping to the EU, any relevant duties & taxes will be displayed and charged at the checkout. For orders shipping to other countries, any import duties, or similar charges due on your order will be levied once the package reaches its destination country. Additional charges for customs clearance must be borne by the recipient. We have no control over these charges and cannot predict what they may be. Customs policies vary widely from country to country and we advise you to contact your local customs office for further information
            </p>
            <p><b>Different Stock Availability:</b> If you have selected items with different availability times then we will despatch your order when all items are ready.</p>
        </div>
		

		<div class="footer">
			<div class="wrapper_footer">
				<div class="footer_card">
					<h3>customer service</h3>
					<p>
						<a href="/help" target="_blank">Help</a>
					</p>
					<p>
						<a href="/track" target="_blank">Track Order</a>
					</p>
					<p>
						<a href="/size_chart" target="_blank">Size Chart</a>
					</p>
				</div>
				<div class="footer_card">
					<h3>Information</h3>
					<p>
						<a href="/help" target="_blank">About us</a>
					</p>
					<p>
						<a href="/affiliate" target="_blank">Affiliate Program</a>
					</p>
				</div>
				<div class="footer_card">
					<h3>Follow us</h3>
					<div class="icons">
						<div class="icon">
							<a href="https://www.facebook.com/manchesterunited" target="_blank"><img src="./icon/facebook.png" alt="facebook"></a>
						</div>
						<div class="icon">
							<a href="https://twitter.com/ManUtd" target="_blank"><img src="./icon/twitter.png" alt="twitter"></a>
						</div>
						<div class="icon">
							<a href="https://www.instagram.com/manchesterunited" target="_blank"><img src="./icon/instagram.png" alt="youtube"></a>
						</div>
						<div class="icon">
							<a href="https://www.youtube.com/manutd" target="_blank"><img
								src="./icon/premium-icon-youtube-3669688.png" alt="youtube"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="copy_right">
				<img src="./icon/copyright.png" alt="CopyRight" id="theme"
					onclick="myFunc()">
				<h3>Hasan Abdurahmonov 2021</h3>
			</div>
		</div>
	</div>
	<script>
		function myFunc() {
			if (document.body.style.backgroundColor == "white") {
				document.body.style.backgroundImage = "url('./Photos/siniy_pyatna_fon_odnotonnyy_69084_1920x1080.jpg')";
				document.body.style.backgroundRepeat = "no-repeat";
				document.body.style.backgroundSize = "cover";
				document.body.style.backgroundColor = "gray";
			} else {
				document.body.style.backgroundColor = "none";
				document.body.style.backgroundColor = "white";
				document.body.style.backgroundImage = "none";
			}

		}
	</script>
</body>
</html>